
---
import Layout from '../layouts/layouts.astro'
import Section from '../components/Section.astro'
import H1  from '../components/H1.astro'
import Main from '../components/Main.astro'
---

<Layout title ="OneLoveBeauty "
pageUrl="/"
>

 
 <Main>

  <Section>
      
    <H1 text='coming soon'></H1>

  </Section>
  
 </Main>

</Layout>


